<div class="app-shell">
    <nav class="filter-nav">
      <button (click)="selectedCategory = 'All'" [class.active]="selectedCategory === 'All'" class="f-all">All</button>
      <button (click)="selectedCategory = 'Students Life'" [class.active]="selectedCategory === 'Students Life'" class="f-life">Students Life</button>
      <button (click)="selectedCategory = 'Academics'" [class.active]="selectedCategory === 'Academics'" class="f-academics">Academics</button>
      <button (click)="selectedCategory = 'Clubs'" [class.active]="selectedCategory === 'Clubs'" class="f-clubs">Clubs</button>
      <button (click)="selectedCategory = 'Sports'" [class.active]="selectedCategory === 'Sports'" class="f-sports">Sports</button>
    </nav>
  
    <header class="cal-header">
      <p class="txt-year">{{ displayYear }}</p>
      <div class="month-nav">
        <button (click)="changeMonth(-1)">❮</button>
        <h1>{{ displayMonthName }}</h1>
        <button (click)="changeMonth(1)">❯</button>
      </div>
    </header>
  
    <main class="calendar-grid">
      <div class="weekday-labels">
        <span>M</span><span>T</span><span>W</span><span>T</span><span>F</span><span>S</span><span>S</span>
      </div>
      <div class="days-container">
        <div *ngFor="let p of gridPadding" class="cell empty"></div>
        <div *ngFor="let day of daysInMonth" class="cell">
          <span class="date-num">{{ day }}</span>
          <div class="event-stack">
            <div *ngFor="let ev of getEventsForDay(day)" 
                 class="ev-bar" 
                 [attr.data-category]="ev.category"
                 [class.connect-prev]="ev.isPrevSame"
                 [class.connect-next]="ev.isNextSame">
              <span (click)="goToEventDetails(ev.id)" *ngIf="!ev.isPrevSame">{{ ev.title }}</span>
            </div>
          </div>
        </div>
      </div>
    </main>


    <div class="navigation">
  <a routerLink="/home" routerLinkActive="active" class="nav-item" [routerLinkActiveOptions]="{exact: true}">
    <div class="icon-wrapper">
      <span class="material-icons">home</span>
    </div>
    <p>Home</p>
  </a>

  <a routerLink="/calendar" routerLinkActive="active" class="nav-item" [routerLinkActiveOptions]="{exact: true}">
    <div class="icon-wrapper">
      <span class="material-icons">calendar_today</span>
    </div>
    <p>Calendar</p>
  </a>
</div>
</div>