<h1 class="title">School Events</h1>

<div class="filters">
  <button (click)="selectedCategory = 'all'" [class.active]="selectedCategory === 'all'" class="filter all">All</button>
  <button (click)="selectedCategory = 'student'" [class.active]="selectedCategory === 'student'" class="filter student">Student Life</button>
  <button (click)="selectedCategory = 'academic'" [class.active]="selectedCategory === 'academic'" class="filter academic">Academic</button>
  <button (click)="selectedCategory = 'clubs'" [class.active]="selectedCategory === 'clubs'" class="filter clubs">Clubs</button>
  <button (click)="selectedCategory = 'sports'" [class.active]="selectedCategory === 'sports'" class="filter sports">Sports</button>
</div>

<div class="scrollable-container">
  <ng-container *ngFor="let dateGroup of groupedEvents | keyvalue">
    <div class="day">
      <h2 class="lined-title">{{ formatMonthDate(dateGroup.key) }}</h2>
      <div
        class="event {{ getEventCardClass(event) }}"
        *ngFor="let event of dateGroup.value"
        (click)="goToEventDetails(event.id)"
      >
        <div class="event-info">
          <h3 class="icon-text">
            <i class="fa-solid fa-bell"></i>{{ event.title }}
          </h3>
          <p class="icon-text"><i class="fa-solid fa-clock"></i>{{ formatEventTime(event) }}</p>
          <p class="icon-text">
            <i class="fa-solid fa-location-dot"></i>{{ event.location }}
          </p>
        </div>
        <img [src]="event.image" class="event-img" />
      </div>
    </div>
  </ng-container>
  <p *ngIf="!events.length" class="no-events">No approved events to show.</p>
</div>

<div class="navigation">
  <a routerLink="/home" routerLinkActive="active" class="nav-item" [routerLinkActiveOptions]="{exact: true}">
    <div class="icon-wrapper">
      <span class="material-icons">home</span>
    </div>
    <p>Home</p>
  </a>

  <a routerLink="/calendar" routerLinkActive="active" class="nav-item" [routerLinkActiveOptions]="{exact: true}">
    <div class="icon-wrapper">
      <span class="material-icons">calendar_today</span>
    </div>
    <p>Calendar</p>
  </a>
</div>
